html, body{
	display: flex;
	justify-content: center;
	align-items: center;
	color:#1e3932;
}
#applet {
	border-radius: 8px;
	background-color: #d4e9e2;
	padding: 25px 50px 50px 50px;
	max-height: 90%;
	max-width: 90%;
}
#greeting {
	font-family: "Lander";
	line-height: 1.2;
	font-size: 41px;
	padding-top: 20px;
	padding-bottom: 28px;
}
#today {
	font-family: "SoDoSans";
	font-weight: 600;
	font-size: 24px;
 	padding-bottom: 20px;
}
table {
	width: 100%;
	font-family: "SoDoSans";
	line-height: 2;
	font-weight: 400;
	font-size: 18px;
}
button {
	position: absolute;
	right: 0;
	margin-top: 15px;
	margin-right: 15px;
	display: inline-block;
	padding: 17px 27px;
	border: 0;
	background: #00a862;
	box-shadow: 0 0 6px rgba(0,0,0,.24),0 8px 12px rgba(0,0,0,.14);
	border-radius: 500px;
	color: #fff;
	font-size: 19px;
	font-family: "SoDoSans";
	font-weight: 600;
	line-height: 1.2;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}
@font-face {
  	font-family: "Lander";
  	src: url(LanderGrande-SemiBold.otf) format("opentype");
  	font-weight: 600;
}
@font-face {
  	font-family: "SoDoSans";
  	src: url(SoDoSans-Regular.otf) format("opentype");
  	font-weight: 400;
}
@font-face {
  	font-family: "SoDoSans";
  	src: url(SoDoSans-SemiBold.otf) format("opentype");
  	font-weight: 600;
}